.karan__services {
  width: 80%;
  margin: 0 auto;
  padding-top: 6.25rem;

  &--container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 98%;
    margin: 0 auto;

    @media (max-width: 768px) {
      flex-direction: column;
      width: 100%;
    }
  }

  &--text {
    width: 346px;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    margin-bottom: 1.25rem;
    color: var(--font-color--main);
  }
}
