.karan__card {
  width: 341px;
  height: 422px;
  background: #ffffff;
  border-radius: 24px;
  transition: all 400ms ease;

  &:hover {
    box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
  }

  &--container {
    width: 80%;
    margin: 0 auto;
    height: 100%;
    padding: 1.25rem 0;
  }

  &--icon {
    width: 67px;
    height: 67px;

    border-radius: 16px;
    position: relative;

    .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 27px;
      width: 27px;
      color: white;
    }
  }

  &--title {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    margin-top: 1rem;
  }

  &--text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #4f4f4f;
  }

  &--btn {
    border: none;
    outline: none;
    width: 116px;
    height: 42px;
    background: #e0e0e0;
    border-radius: 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    color: #828282;
    transition: all 500ms ease;
    cursor: pointer;

    &:hover {
      background-color: var(--font-link--color);
      color: white;
    }
  }
}
