.karan__client {
  padding-top: 6.25rem;

  &--container {
    width: 80%;
    margin: 0 auto;
  }

  &--flex {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 768px) {
      width: 90%;
      flex-direction: column;
    }
  }

  &--text {
    @media (max-width: 768px) {
      width: 100%;
    }

    &__meet {
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
      color: #eb5757;
    }

    &__content {
      width: 280px;
      height: 162px;
      font-weight: 500;
      font-size: 36px;
      line-height: 54px;
      color: var(--font-color--main);
    }

    &__text {
      width: 273px;
      height: 48px;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #4f4f4f;
    }
  }

  &--images__container {
    display: flex;
    align-items: center;
    gap: 1.25rem;

    &--img {
      img {
        border-radius: 24px;
        width: 100%;
      }
    }
  }

  &--sayings {
    margin-top: 6.25rem;
    width: 80%;

    @media (max-width: 768px) {
      margin-top: 5rem;
    }

    &__text {
      font-weight: 500;
      font-size: 36px;
      line-height: 54px;
      color: var(--font-color--main);

      @media (max-width: 768px) {
        font-size: 24px;
        line-height: 36px;
      }
    }

    &__image {
      margin-top: 1.75rem;
      display: flex;
      align-items: center;
      gap: 1.25rem;

      @media (max-width: 768px) {
        margin-top: 1.25rem;
        gap: 1.75rem;
      }

      img {
        width: 82px;
        height: 82px;
        border-radius: 12px;
      }

      h4 {
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        color: var(--font-color--main);
        margin-bottom: 5px;
      }

      p {
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: #828282;
        margin: 0;
      }
    }
  }
}
