:root {
  /* font family */
  --font-heebo: "Heebo", sans-serif, Arial, Helvetica;
  --font-poppins: "Poppins", sans-serif, Arial, Helvetica;
  /* font color */
  --font-color--main: #333333;
  --font-link--color: #2d9cdb; /* btn blue */
  /* button */
  --button-gray: #e0e0e0;
}

